.footer {
  background-color: #1b242f;
  position: relative;
  padding: 70px 0;
}

.copyright {
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.arrowBackground {
  background-color: #f81e77;
  position: absolute;
  left: 50%;
  top: 0;
  width: 47px;
  height: 50px;
  z-index: 50;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.arrow {
  padding: 0;
  margin: 0;
  font-size: 1.3em;
}
