.filterContainer {
  margin: 60px auto 0 auto;
  width: 600px;
  position: relative;
}

@media (max-width: 616px) {
  .filterContainer {
    width: 370px;
  }
}

.galleryHeightAdjustment {
  overflow: hidden;
}

.galleryContainer {
  width: 95%;
  margin: 20px auto 0 auto;
  height: 900px;
  position: relative;
}

@media (max-width: 1300px) {
  .galleryContainer {
    height: 1500px;
  }
}

@media (max-width: 957px) {
  .galleryContainer {
    height: 2700px;
  }
}
